fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings

psycopg2-binary

# Install the local guild package in editable mode
-e ./guild

# Testing dependencies
httpx
pytest

# Task Queue
celery
redis
django-celery-beat==2.5.0
django==4.2.7
